@charset "utf-8";             /* 文字コード指定 */
.learning {
  padding: 90px 0 60px;       /* 余白追加 */
  color: #5a5c5f;           /* 文字色指定 */
}
.learning-card {
  width: 33%;                 /* ３列表示に横幅指定 */
  margin-top: 35px;           /* 余白追加 */
}
.learning-card-inner {
  padding: 5px 5px;         /* 上下、左右余白追加 */
  background-color: #dbe0e4;  /* 背景色 */
  border-radius: 7px;         /* 角丸 */
  box-shadow: 1px 1px 4px #d2d4d6;  /* 上、左右、下に影を付ける */
  text-align: center;         /* 文字中央揃え */
  margin: 0 20px;             /* 左右に余白 */
}
.learning-image {
  width: 100%;                /* カード内に収まるサイズ指定 */
  margin-bottom: 4px;        /* 余白追加 */
  border-radius: 5px;         /* 角丸 */
}
.learning-title {
  margin-bottom: 4px;         /* 余白追加 */
}
.learning-text {
  font-size: 14px;            /* 文章の文字サイズ */
  margin-bottom: 8px;         /* 余白追加 */
}
.learning-language {
  margin-bottom: 2px;         /* 余白追加 */
}
.learning-language-text {
  font-size: 14px;            /* 言語の文字サイズ */
}
.learning-card-wrapper {
  display: flex;              /* 要素を横並び */
  flex-wrap: wrap;            /* 各要素の横幅に合わせて適宜折り返し */
}

/* ハンバーガーメニューstart */
/*ヘッダーまわりはサイトに合わせて調整してください*/
header {
  padding:10px;
  background: skyblue;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
/* ハンバーガーメニューend */