@charset "utf-8";
.profile {
  padding: 90px 0 30px;
  color: #5a5c5f;
}
.profile-about {
  margin-bottom: 30px;
}
.profile-language {
  color: #4c4e52;
  margin-bottom: 30px;
}
.profile-career_history {
  margin-bottom: 30px;
}
.profile-license {
  margin-bottom: 30px;
}
.profile-output {
  margin-bottom: 30px;
}
.profile-contact {
  margin-bottom: 30px;
}