@charset "utf-8";
@media (max-width: 1024px) {  /* タブレット用メディアクエリ追加 */
  .main-visual {              /* メインビジュアル部分の上下余白を小さくする */
    padding-top: 120px;
    padding-bottom: 80px;
  }
  .top-title {
    font-size: 60px;          /* スタイル追加 */
  }
  .learning-card {
    width: 50%;               /* learningページの横幅を50％＝２列表示 */
  }
  .phoenix-card {
    width: 50%;               /* phoenixページの横幅を50％＝２列表示 */
  }
}
@media (max-width: 670px) {   /* スマートフォン用メディアクエリ追加 */
  .header {
    height: 56px;
  }
  .header-left {
    display: none;            /* ロゴを非表示 */
  }
  .header-right {
    float: none;              /* フロートの効果を無効化 */
    text-align: center;       /* メニューを中央表示 */
    /* height: 80px; */
    height: 40px;
  }
  .header-right a {
    font-size: 14px;          /* メニューの文字サイズを小さくする */
    margin-left: 2px;         /* リンクとリンクの間の間隔 */
    padding: 16px 2px;        /* 上下、左右 */
    line-height: 2;
  }
  .main {
    padding: 60px 0;          /* メイン部分の上下余白を小さくする */
  }
  .main-image {
    width: 280px;             /* メイン部分の画像の横幅を280pxに指定 */
  }
  .main p {
    font-size: 13px;          /* メイン部分の文字サイズを13pxに指定 */
  }
  .footer-right {
    padding-top: 20px;        /* フッター右側の上の余白を小さくする */
  }
  .learning-card {
    width: 100%;              /* learningページの横幅を100％＝１列表示 */
  }
  .phoenix-card {
    width: 100%;              /* phoenixページの横幅を100％＝１列表示 */
  }
  .google-map iframe {
    width: 100%;              /* 地図の横幅を100％でブラウザのサイズに合わせる */
  }
  .contact input, .contact textarea {
    width: 100%;              /* Contactページの入力欄を横幅いっぱいに表示 */
  }
  .profile {
    font-size: 80%;           /* Profileページの文字サイズを縮小 */
  }
  /* ハンバーガーメニュー */
  #nav-open {
    display:none;
  }
}